.log{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: beige;
    height: 300px;
    width: 300px;
    padding-left: 20px;
}

h1{
    text-align: center;
}

.reg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: beige;
    height: 350px;
    width: 350px;
    padding-left: 20px;
}